html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.md-raised {
  margin: 30px;
}

md-content {
  height: 100%;
  background-color: #F4F1DE;
}

#toolbar {
  background-color: #E07A5F;
  color: #F4F1DE;
}

md-card {
  background-color: #3D405B;
  color: #F4F1DE;
}

#generate {
  background-color: #81B29A;
  color: #F4F1DE;
}

p {
  color: #81B29A;
}







