html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.md-raised {
  margin: 30px;
}

md-content {
  height: 100%;
  background-color: #F4F1DE;
}

#toolbar {
  background-color: #E07A5F;
  color: #F4F1DE;
}

.sunnyCard {
  background-color: #81B29A;
  color: #3D405B;
}

.rainyCard {
  background-color: #3D405B;
  color: #F4F1DE;
}

.nightCard {
  background-color: #F2CC8F;
}

#sunnyButton {
  background-color: #81B29A;
  color: #F4F1DE;
}

#rainyButton {
  background-color: #3D405B;
  color: #F4F1DE;
}

p {
  color: #81B29A;
}

.sunnyVariable {
  color: #F4F1DE;
}

.nightVariable {
  color: #E07A5F;
}

#cardRow {
  margin-top: 20px;
}

#nightCardRow {
  margin-top: 20px;
}

footer {
}

h3 {
  margin-top: 10px;
}
